<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.rexlin600.mapper.ResourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="xyz.rexlin600.entity.Resource">
                <id column="id" property="id" />
                <result column="parent_id" property="parentId" />
                <result column="resource_name" property="resourceName" />
                <result column="type" property="type" />
                <result column="type_name" property="typeName" />
                <result column="sort" property="sort" />
                <result column="icon" property="icon" />
                <result column="http_method" property="httpMethod" />
                <result column="http_url" property="httpUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
            id, parent_id, resource_name, type, type_name, sort, icon, http_method, http_url
    </sql>

</mapper>
