<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>sprin-boot-helloworld</title>
</head>
<body>
<div>
    <div>springboot2-example 是一个基于 Spring Boot 2.x 的综合性 仓库</div>
</div>
<div>
    <div>Spring Boot 2.x 中的各种示例，以简单、快捷、精炼为目标，虽然定义为 example，但是其具体实现上尽可能的能够帮助大家在实际使用中能够只需要进行少量的修改即可投入使用</div>
</div>
<div>
    <div>最终的目的是帮助大家快速掌握 Spring Boot 2.x 的使用以及与其集成的各类中间件的集成使用</div>
</div>
<div>
    <span><h4 th:text="${url}">Hello World</h4></span>
</div>
</body>
</html>